* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 30px;
    
}
#logo{
    height:4.5rem;
    width: auto;
    padding-bottom: 10px;
}
#header .container-header {
    background-color: #fff;
    margin-top: -15px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    height: 15%;
    position: fixed;
    z-index: 1;
}
.container-header .sub-img {
    width: 30%;
    padding-left: 40px;
}
.sub-img img {
    width: 20%;
    height: 100%;
}
.container-header .nav-list {
    width: 50%;
    list-style: none;
    display: flex;
    line-height: 38px;
    font-weight: 700;
    position: relative;
    padding: 0 15px;
    justify-content: center;
}
.nav-list > li:hover >a {
    border-bottom: 2px solid rgba(0,0,0,1);
    
    
}
.nav-list > li:hover > .space-top> .sub-nav {
    opacity: 1;
    visibility: visible;
 
}
.nav-list > li > a {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #111;
    padding-bottom: 10px;
}
.nav-list > li {
    margin-right: 20px;
    padding-bottom: 10px;
}
.nav-list > li > .space-top{
    padding-top: 20px;
}

.sub-nav {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.3s ease;
    height: auto;
    margin-left: -37px;
    padding: 20px 35px;
    list-style: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
}
.sub-nav li a {
    text-decoration: none;
    color: #111;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
}
.sub-nav li a:hover {
    opacity: 1;
}

.container-header .search-icon {
    width: 30%;
    text-align: right;
    padding-right: 40px;
    line-height: 38px;
}
.search-icon .ti-shopping-cart,
.search-icon .ti-search {
    margin-right: 15px;
    cursor: pointer;
    padding: 5px 5px;
}
.search-icon .ti-shopping-cart:hover,
.search-icon .ti-search:hover {
    background-color: rgb(204,204,204);
}

#slider img {
    width: 100%;
    height:52vh;
}
.grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    margin-bottom: 40px;
}


.product-card {
    padding-bottom: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);       
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: box-shadow 0.3s, transform 0.3s;
    overflow: hidden;
    
    
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.product-card:hover .product-name{
    color: red;
    transition: color 0.3s;
}

.product-img {
    width: 100%;
    height: 90%;             
    object-fit: contain;
    display: block;
    background: transparent;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    padding: 15px;
}

.price-old {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin-right: 8px;
    
}

.price-new {
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #3ad29f;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
}
#content {
   display: flex;;
}
#content .content-1{
    width: 73vw;
   margin-top: 19vh;
   margin-bottom: 19vh;
   margin-left: 10vw;
   margin-right: 3vw;
}
.sort-price > .nav-list > li {
    margin-top: 19vh;
    margin-left: 5vw;
    list-style: none;
    display: inline-block;
   
}

#footer{
    background-color: #f2f2f2;
}
#footer .logo-footer {
    width: 8vw;
    height: 6vw;
}
#footer .back-ground-footer {
    
    display: flex;
    padding: 5vw 0;    
    margin-left: 10vw;
    margin-right: 10vw;
}
.footer-1  {
    width: 40vw;
    padding-right: 2vw;
    
}
.footer-1 img {
    width: 8vw;
    height: 6vw;
}
#footer .font i {
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
}
#footer h4 {
    margin-bottom: 2.2vw;
}
#footer .sub-footer .menu-sub-footer{
    margin-bottom: 2vw;
}
#footer .sub-footer .menu-sub-footer{
    font-size: 1vw;
    font-weight: 540;
}
.footer-1 .infor {
    list-style: none;
  
}
.footer-2  {
    padding-left: 2vw;
    width: 15vw;
    
}
.footer-2 .sub-footer i:hover a {
    background-color: blue;
    
}
#footer .footer-2 .sub-icon a i{
   font-size: 2vw;
   color:black;
   padding-right: 0.7vw;

   
}

#footer .footer-2 .sub-icon a {
    text-decoration: none !important;

}

.footer-3  {
    padding-left: 8vw;
    width: 25vw;    
    
}