* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#header{
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 30px;
    
}
#logo{
    height:4.5rem;
    width: auto;
    padding-bottom: 10px;
}
#header .container-header {
    background-color: #fff;
    margin-top: -15px;
    width: 100%;
    padding: 40px 0;
    display: flex;
    height: 15%;
    position: fixed;
    z-index: 1;
}
.container-header .sub-img {
    width: 30%;
    padding-left: 40px;
}
.sub-img img {
    width: 20%;
    height: 100%;
}
.container-header .nav-list {
    width: 50%;
    list-style: none;
    display: flex;
    line-height: 38px;
    font-weight: 700;
    position: relative;
    padding: 0 15px;
    justify-content: center;
}
.nav-list > li:hover >a {
    border-bottom: 2px solid rgba(0,0,0,1);
    
    
}
.nav-list > li:hover > .space-top> .sub-nav {
    opacity: 1;
    visibility: visible;
 
}
.nav-list > li > a {
    width: 100%;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #111;
    padding-bottom: 10px;
}
.nav-list > li {
    margin-right: 20px;
    padding-bottom: 10px;
}
.nav-list > li > .space-top{
    padding-top: 20px;
}

.sub-nav {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease, visibility 0.3s ease;
    height: auto;
    margin-left: -37px;
    padding: 20px 35px;
    list-style: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
}
.sub-nav li a {
    text-decoration: none;
    color: #111;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
}
.sub-nav li a:hover {
    opacity: 1;
}

.container-header .search-icon {
    width: 30%;
    text-align: right;
    padding-right: 40px;
    line-height: 38px;
}
.search-icon .ti-shopping-cart,
.search-icon .ti-search {
    margin-right: 15px;
    cursor: pointer;
    padding: 5px 5px;
}
.search-icon .ti-shopping-cart:hover,
.search-icon .ti-search:hover {
    background-color: rgb(204,204,204);
}

#slider{
    border: #fff solid 10px; 
    margin-top: 5px;
    padding-top: 50%;
    background: url('../img/slider1.jpg') top center/ cover no-repeat;                          
}
#content .container-content {
   margin-top: 7%;
   padding-left: 15px;
    padding-right: 15px;    
    margin-left: 20%;
    margin-right: 20%;
    
    
}
.center-content {
    margin:20px 0;
    display: flex;
    justify-content: center;
}

.container-content .content-1 .gener {
    width:33.33%;
    font-size: 12px;
    font-weight: 700;
    margin: 0 10px;
    padding: 35px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
    
}
.container-content .content-1 .gener:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
.content-1 .gener .sub-name {
    margin-bottom: 20px;
    
}
.content-1 .gener .block-button {
    margin-top: 40px;
}
.content-1 .gener .block-button .button-sub-name{
    
    text-decoration: none;
    color:#111;
    padding: 10px 25px;
    border: 1px solid #111;
    border-radius: 6px;
}
.content-1 .gener .block-button .button-sub-name:hover{
    color: red;
    border: 1px solid red;
    transition: all 0.2s ease-in-out;
    
}
.container-content .content-2, .content-4{
    padding: 10px;
    margin: 50px 0;
    font-size: 20px;
}

.content-2-1 a .content-4-1 a{
    color:red
}
.grid-template {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    margin-bottom: 40px;
}


.product-card {
    padding-bottom: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);       
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: box-shadow 0.3s, transform 0.3s;
    overflow: hidden;
    
    
}

.product-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.product-card:hover .product-name{
    color: red;
    transition: color 0.3s;
}

.product-img {
    width: 100%;
    height: 90%;             
    object-fit: contain;
    display: block;
    background: transparent;
}

.product-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    padding: 15px;
}

.price-old {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin-right: 8px;
    
}

.price-new {
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #3ad29f;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 4px;
}
#content .content-6{
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    background: #f2f2f2;
 
}
.content-6 .container-content {
    display: flex;
    height: auto;

}
.container-content .text{
    margin-right: 5%;
    justify-self: center;
}
.container-content .text .text-1{
    margin-top: 25%;
    font-size: 13px;
    opacity: 0.6;

}
.container-content .text .text-2{
    margin-top: 10%;
    text-align: center;
}
.text-2 .part1-text-2 {
    font-size: 280%;
    margin-bottom: 5%;
}
.text-2 .sub-part1 {
    opacity: 0.7;
}
.news-list {
    margin-top: 7vw;     
    margin-left: 10vw;
    margin-right: 10vw;
    justify-content: center;
    display: flex;
    gap: 12%;
}

.news-item:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.news-item {
    display: block;
    width: 320px;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background: #fff;
    transition: box-shadow 0.2s;
}
.news-list .news-item h3 {
    font-size: 1.5vw;
    margin: 3vw 0vw 3vw 2vw;
}
.news-list .news-item p {
    font-size: 1vw;
    margin: 0vw 0vw 3vw 2vw;
    color: #555;
}

.news-item img {
    width: 100%;
    display: block;
}

#footer{
    margin-top: 10vw;
    background-color: #f2f2f2;
}
#footer .back-ground-footer {
    
    display: flex;
    padding: 5vw 0;    
    margin-left: 10vw;
    margin-right: 10vw;
}
.footer-1  {
    width: 40vw;
    padding-right: 2vw;
    
}
.footer-1 img {
    width: 8vw;
    height: 6vw;
}
#footer .font i {
    padding-right: 1.5vw;
    padding-bottom: 1.5vw;
}
#footer h4 {
    margin-bottom: 2.2vw;
}
#footer .sub-footer .menu-sub-footer{
    margin-bottom: 2vw;
}
#footer .sub-footer .menu-sub-footer{
    font-size: 1vw;
    font-weight: 540;
}
.footer-1 .infor {
    list-style: none;
  
}
.footer-2  {
    padding-left: 2vw;
    width: 15vw;
    
}
.footer-2 .sub-footer i:hover a {
    background-color: blue;
    
}
#footer .footer-2 .sub-icon a i{
   font-size: 2vw;
   color:black;
   padding-right: 0.7vw;

   
}

#footer .footer-2 .sub-icon a {
    text-decoration: none !important;

}

.footer-3  {
    padding-left: 8vw;
    width: 25vw;    
    
}

@media (max-width: 1200px) {
    .content-6 .container-content {
        margin-left: 2vw;
        margin-right: 2vw;
        padding-left: 0;
        padding-right: 0;
    }
}
@media (max-width: 900px) {
    .content-6 .container-content {
        flex-direction: column;
        margin-left: 1vw;
        margin-right: 1vw;
        gap: 20px;
    }
}
